* text=auto
*.html text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf
NOTICE text eol=lf
.gitignore text eol=lf
public/vendor/* -text
*.png binary
*.pdf binary
